#container {
    
width: 100%;
height: 100%;
position: absolute;
top: 0%;
bottom: 0%;
left: 0%;
right: 0%;
overflow-x: hidden;
justify-content: flex-start;
}
#root {
    background: center / cover no-repeat url("tlo.jpg");
    height: 110%;
    width: 105%;
    position: relative;
   bottom: 5%;
    


}
#zaslona {
    z-index: 3;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    visibility: hidden;
    background-color: #000000;
    
}

#m {
    z-index: 4;
    opacity: 0;
    background-color: white;
    height: 100%;
    width: 0%;
    position: fixed;
    left: 0%;
    top: 0%;
    display: flex;
   transition: 0.4s;
    padding: 3%;
    
   box-shadow:0px 0px 5px;
   justify-content: space-between;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
       
}

.menupanel {
    
    position: absolute;
    height: 85%;
    width: 80%;
    right: 10%;
    top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: UberMoveText, sans-serif;
    
    
    
}



#menubutton {
    height: 65%;
    width: 50%;
    top: 25%;
    position: relative;
    margin-right: 20px;
    }

#home {
        height: 90%;
        width: 90%;
        }

li {
display: block;
}


a {
    text-decoration: none;
    color: inherit;
}

#gora {
 
    z-index: 2;
   position: fixed;
    display: flex;
    font-family: UberMoveText, sans-serif;
    justify-content: space-between;
   left: 0%;
    top: 0%;
    width: 100%;
    height: 10%;
}
.gorabox{
   
    width: 96%;
    height: 70%;
    position: relative;
    left: 1%;
    top: 25%;
    display: flex;
    flex-direction: row;
    

}

#goraleft {
  
    position: relative;
    top: 20%;
    width: 11%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 1.5%;
}

#inputsearch {
    height: 100%;
    width: 80%;
    appearance: none;
    outline: none;
    border: 0;
    top:0%;
    font-size: 17px;

}
#inputsearch1 {
    background-color:#EEEEEE ;
    transition: width 1s;
    height: 100%;
    width: 90%;
    appearance: none;
    outline: none;
    padding: 0;
    border: 0;
    top:0%;
}

.mapimg {
    height: 70%;
    width: 6%;
    position: relative;
    top: 20%;
    right: 1%;
}
.mapimg2 {
    height: 70%;
    width: 5%;
    position: relative;
    top: 20%;
    right: 1%;
}

#divsearch {
    
    width: 60%;
    height: 56px;
    font-family: UberMoveText, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
    background-color: white;
    color: #000000;
    box-sizing: border-box;
    position: relative;
    left: 0%;

}

#divsearch1 {
   
    background-color:#EEEEEE ;
    visibility: hidden;
    width: 39%;
    font-family: UberMoveText, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: none;
    color: #000000;
    height: 56px;
    box-sizing: border-box;
    box-shadow: inset 0px -1px 0px #eeeeee;
    display: flex;
    position: relative;
    bottom: 10%;
    left: 7%;

}

#search {
    height: 100%;
    font-size: 18px;
    line-height: 24px;
    font-family: UberMoveText, sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    padding: 12px 16px;
    color: white;
    background-color: black;
    border-radius: 8px;
}

.sbutton {
    height: 56px;
    width: 93%;
    font-size: 18px;
    line-height: 24px;
    font-family: UberMoveText, sans-serif;
    font-weight: 500;
    cursor: pointer;
    min-height: 56px;
    text-align: center;
    box-sizing: border-box;
    border: 0;
    border-radius: 8px;
    padding: 12px 16px;
    color: black;
    background-color: #EEEEEE;
    font-weight: 500px;
}

.supbutton {
    height: 56px;
    width: 93%;
    font-size: 18px;
    line-height: 24px;
    font-family: UberMoveText, sans-serif;
    font-weight: 500;
    cursor: pointer;
    min-height: 56px;
text-align: center;
    box-sizing: border-box;
    border: 0;
    border-radius: 8px;
    padding: 12px 16px;
    color: white;
    background-color: black;
    font-weight: 500px;
}

.ul1{
    font-size: 16px;
    position: relative;
    right: 15%;
}
.li1{
    margin: 10px;
}
.appdiv{
   
    height: 15%;
}
.appdivgora{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divappimg{

height: 50%;
width: 25%;
}
#appimg{
    height: 100%;
    width: 100%;

}
.appopis{
    
    height: 100%;
    width: 75%;
}
#guziki {
    
    height: 80%;
    width: 16%;
    position: absolute;
    left: 83%;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sbutton2 {
    height: 90%;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-family: UberMoveText, sans-serif;
    font-weight: 500;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 10%), 0px 4px 4px rgb(0 0 0 / 4%);
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 12px 16px;
    color: black;
    background-color:#FFFFFF;
    border-radius: 500px;
    font-weight: 500px;
    display: flex;
    flex-direction: row;
}



.supbutton2 {
    height: 90%;
    width: 100%;
    font-size: 18px;
    font-family: UberMoveText, sans-serif;
    font-weight: 500;
    line-height: 20px;
    box-sizing: border-box;
    padding: 12px 16px;
    color: white;
    background-color: black;
    font-weight: 500px;
    border-radius: 500px;
    align-items: center;
}

.sbutton:hover {
    filter: brightness(70%);
}
.supbutton:hover {
    background-color: rgb(50, 49, 49);
    
}

.sbutton2:hover {
    filter: brightness(70%);
}
.supbutton2:hover {
    background-color: rgb(50, 49, 49);
    
}


.zamawianie {
    width: 48%;
    height: 30%;
position: relative;
left: 2%;
top: 35%;
}


.textzamow {
    width: 75%;
    font-weight: 70%;
    margin-bottom: 45px;
    line-height: 64px;
    font-size: 52px;
    font-family: UberMove, sans-serif;

}

.list2 {
    
    width: 81%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
#applinks{
   
    height: 20%;
    width: 70%;
    position: relative;
    left: 0%;
    top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.applink {
    height: 70%;
    width: 70px;
    font-size: 14px;
    line-height: 20px;
    font-family: UberMoveText, sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 12px 16px;
    color: black;
    background-color:#EEEEEE;
    border-radius: 500px;
    font-weight: 500px;
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    
}

#applink1 {
    height: 70%;
    width: 60px;
    font-size: 14px;
    line-height: 20px;
    font-family: UberMoveText, sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 12px 16px;
    color: black;
    background-color:#EEEEEE;
    border-radius: 500px;
    font-weight: 500px;
    display: flex;
    flex-direction: row;
    
}

.applink:hover{
    filter: brightness(70%);
}

#applink1:hover{
    filter: brightness(70%);
}

.applinkprawo {
    position: relative;
    right: 38%;
}


#root2 {
    background-color: white;
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
padding-left: 2%;
padding-right: 2%;


font-family: UberMoveText, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

.p1 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 0%;
}

.p2 {
    font-size: 16px;
    line-height: 20px;
    
}

.obrazki {
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.picbox{
    height: 100%;
     width: 95%;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
    
 }

.pic{
    height: 90%;
    width: 100%;

}

li {
    display: block;
    }

   
    .listdol {
        padding: 5px;
        position: relative;
        display: flex;
        justify-content: space-between;
       
        
    }
    .listdol2 {
        width: 90%;
        position: relative;
        left: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
.listgora {
   
    position: relative;
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: UberMoveText, sans-serif;
    font-size: 16px;
}

.listsrodek {
    position: relative;
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   font-family:  UberMoveText, sans-serif;
   font-size: 16px;
}








.linia {
    margin: 5%;
    background-color: #F6F6F6F6;

}



.divhome{
    
    height: 3%;
    position: relative;
    top: 0%;
}
#home2{
    height: 100%;
}

.list2{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.appdiv2{
    position: relative;
  
    width: 15%;
    display: flex;
    flex-direction: row;
    }

.listzamawianie{
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}


.mapadiv {
    position: relative;

    height: 40%;
   
}

#mapa {
    
    width: 100%;
    height: 100%;
    
}

#social {
   
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.przerwa1 {
    background-color: white;
    width: 100%;
    height: 5%;
}

.przerwa2 {
    background-color: white;
    width: 100%;
    height: 5%;
}

@media only screen and (max-width: 1000px) {



    .menupanel {
        
        width: 85%;
        left: 7%;
        height: 90%;
        top: 3%;
    }

.sbutton{
    width: 100%;
    height: 30%;
    font-size: 45px;
    padding-top: 10%;
}

.supbutton{
    width: 100%;
    height: 30%;
    font-size: 45px;
    padding-top: 10%;
}

.ul1 {
    font-size: 37px;
    right: 7%;
}
.li1 {
    margin-bottom: 30px;
}
.appdiv {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.appdivgora {
  
    position: relative;
    height: 50%;
    font-size: 40px;
    margin-bottom: 5%;
}
.divappimg{
    height: 100%;
    margin-right: 7%;
}
#appimg{
    position: relative;
    height: 100%;
    width: 100%;
}
#applinks{
    position: relative;
    height: 30%;
    width: 70%;
    top: 0%;
    bottom: 20%;
}
#applink1{
    position: relative;
    width: 100%;
    height: 50%;
    font-size: 37px;
    padding-top: 10%;
    padding-left: 10%;
    
}
.applinknone{
    display: none;
}


    #gora {
        height: 9%;
        bottom: 91%;
    }

    .gorabox{
       
        height: 77%;
        top:10%;
        width: 92%;
        left: 4%;
    }

    #goraleft {
       
        height: 70%;
        width: 40%;
        top: 10%;

    }

#divsearch1{
    position: absolute;
    
    bottom: 0%;
}
#inputsearch1{
    
    font-size: 40px;
}

    #menubutton {
        width: 50%;
        height: 50%;
        top: 0%;
    }

    #home{
        top: 50%;
        height: 50%;
        width: 90%;
    }

    #guziki {

width: 45%;
left: 55%;
height: 60%;
top: 0%;

    }
.sbutton2 {
    width: 100%;
    height: 100%;
    padding: 35%;
}

.singuptext{
    visibility: hidden ;
}
.supbutton2 {
    width: 120%;
    height: 100%;
    text-align: center;
    font-size: xx-large;
    padding-top: 15%;
    position: relative;
   right: 20%;
}
.signupimg{
    position: relative;
   
}
.zamawianie{
    
    width: 90%;
    height: 50%;
    position: relative;
    left: 2.5%;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textzamow {
    position: relative;
    width: 100%;
    font-size: 90px;
    line-height: 120%;
    margin-bottom: 0%;
   
}

.listzamawianie {
    position: relative;
    
    width: 100%;
    height: 40%;
    flex-direction: column;
    justify-content: flex-start;
}
#divsearch {
    position: relative;
   margin-bottom: 2%;
    width: 100%;
    height: 40%;
    top: 0%;
}


.mapimg {
height: 50%;
width: 10%;
top:25%;
right: 0%;
}

#inputsearch {
    
    width: 80%;
    font-size: 40px;
    top: 0%;
    
}
#searchbutton {
    
    position: relative;
    width: 100%;
    height: 30%;
    top: 0%;
    
}
#search {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 50px;

}
.divtext2 {
    
    width: 90%;
    height: 10%;
    font-size: 40px;
    position: relative;
    bottom: 20%;
    
}

.obrazki {
    flex-direction: column;
    height: 90%;
    position: relative;
}

.picbox{
    position: relative;
height: 100%;
width: 100%;
}
.piclink{
    position: relative;
    height: 50%;
    width: 100%;
    }
    .p1 {
        font-size: 50px;
    }

    .p2 {
        font-size: 40px;
    }
    .przerwa2{
        top: 10%;
        position: relative;
    }

.listh2 {
    top: 8%;
}
h2 {
    position: relative;
    font-size: 60px;
}
.h2miasta{
    position: relative;
    top: 7%;
}
.h2kraje {
    font-size: 60px;
    position: relative;
    top: 5%;
}
.mapadiv{
    top:5%;
    left: 4%;
    height:40%;
    width: 92%;
}
.listgora{
    position: relative;
    top: 5%;
   
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 40px;
    height: 30%;
}
.listsrodek{
    position: relative;
  
    width: 100%;
    top: 5%;
    height: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30%;

font-size: 40px;
}

#wyswietlmiasta {
    z-index: 1;
 
    height: 3%;
    width: 80%;
    font-size: 45px;
    position: absolute;
   top: 178%;
}

.plist2{
    position: relative;
   
}

.plist3 {
    display: none;
}

.plist4 {
   display: none;
}
.list2 {
    position: relative;
    top: 15%;
    font-size: 45px;
    flex-direction: column;
}
#jezyk {
    height: 7%;
    width: 7%;
}
#home2 {
    position: relative;
    left: 5%;
}

.appdiv2{
    position: relative;
  
    height: 5%;
    bottom: 45%;
    width: 90%;
    display: flex;
    flex-direction: row;
    left: 5%;
    
    
    }
.appimg{
    position: relative;
    height: 100%;
    width: 45%;
}
.listdol{
    position: relative;
    font-size: 40px;
    flex-direction: column;
    top: 20%;
    left: 4%;
    justify-content: space-between;
    height: 20%;
}
#social {
    position: relative;
  
    width: 25%;
    height: 2.5%;
    left: 4%;
    top:15% ;
    
}
.listdol2 {
    font-size: 40px;
    flex-direction: column;
    justify-content: space-between;
    left: 4%;
    height: 10%;
    top: 22%;
}
.przerwa3 {
    height: 30%;
    bottom: 0%;
}

.ptop {
    position: relative;
    top: 10%;
}
}
